h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.picture-details {
    margin: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.picture-details img, .picture-details iframe {
    margin: 20px 0;
    box-shadow: 0px 0px 50px 6px rgba(255, 255, 255, 0.5);

}

.picture-details p {
    max-width: 70%;
    text-align: center;
}

.picture-date {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 20px;
    padding: 5px;
}

.picture-date h3 {
    margin-right: 20px;
}

/*Media queries*/

@media (max-width: 1200px) {
    .picture-details iframe {
        width: 80%;
        height: 600px;
    }
}

@media (max-width: 1024px) {
    .picture-details img {
        width: 60%;
    }

    .picture-details iframe {
        width: 80%;
        height: 500px;
    }
}

@media (max-width: 992px) {
    .picture-details h1 {
        font-size: 22px;
    }

    .picture-details h3 {
        font-size: 20px;
    }

    .picture-details h4 {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    input[type="date"] {
        min-width: 150px;
    }

    .picture-details iframe {
        width: 70%;
        height: 300px;
    }

    .picture-details h1 {
        font-size: 20px;
    }

    .picture-details h3 {
        font-size: 18px;
    }

    .picture-details h4 {
        font-size: 16px;
    }
}