.media-list {
    margin: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 30%;
    height: 500px;
    position: relative;
}

.card-header{
    text-align: center;
}

.card-body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-body img{
    max-width: 100%;
    max-height: 100%;
}

.card-body span{
    position: absolute;
    bottom: 0;
    right: 20px;
}