input[type="date"] {
    outline: none;
    min-width: 170px;
    appearance: none;
    box-sizing: border-box;
    border: 2px solid #ada9a9;
    border-radius: 5px;
    background: transparent;
    padding: 5px;
    color: #ada9a9;
    text-transform: uppercase;
    font-weight: bold;
}

input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    color: #ada9a9;
    opacity: 0.8
}

input[type="date"]::-webkit-calendar-picker-indicator:hover{
    opacity: 0.5;
    cursor: pointer;
}